/* box sizing tells browser width and height to include*/
* {
	box-sizing: border-box;
}

/*calling custom font*/
@font-face {
    font-family: work-sans-x-bold;
    src: url(fonts/WorkSans-ExtraBold.woff);
}

@font-face {
    font-family: work-sans-bold;
    src: url(fonts/WorkSans-Bold.woff);
}

/*vh sets viewport height so it fits with different screen sizes as well as the bodys font*/
body {
	font-family: 'work-sans-x-bold', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-color:#C0C0C0;
}

/* sets all unordered lists to remove bullets margins etc*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* changes the color of My name. removes bullets from list*/

a {
	color: white;
	text-decoration: none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



/* my name em signifies changes with screen size*/
.logo {
	margin: 0;
	font-size: 2em;
}

/*main navs top margin so it pushes away from top of page*/
.main-nav {
	margin-top: 5px;

}
/*text transformation of name and menu*/
.logo a,.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

/* font color and size of main navagation*/
.main-nav a {
	color: white;
	font-size: .99em;
}

/* color when user hovers over main navigation*/
.main-nav a:hover {
	color: #718daa;
}


/* em allows the size fonts and other things to be proportianate to the screensize*/
header {
	z-index:3;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #989898;
	background-color: #56C5FF;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
	border-radius: 5px;
	position:fixed;
	width:100%;
	height:auto;
}


/*Media Queries */

/* when the browser goes above this width*/
@media (min-width: 768px){
	#icon{
		display:none;		
	}	
		
}

/*when browser goes below this width*/
@media (max-width: 360px){
	section{
	padding-top:500px;	
		height:auto;
	}
}
/*when browser goes below this width*/
@media (max-width: 768px){
	.main_icons {
		display: none;	
	}


	header:hover .main_icons {
	display: block;
	}
	header:hover #icon{
	display: none;		
	}
	section{
	padding-top:140px;
		flex-direction:column;
	flex-wrap: wrap;
	height:auto;
	 justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
	}
	


	

	

	
}


/*when browser goes below this width*/
@media (min-width: 769px) {
	header, .main-nav {
		display: flex;
	}
	header {
		flex-direction: column;
		align-items: center;
    
	}
	section{
	padding-top:140px;
		flex-direction:row;
	flex-wrap: wrap;
	height:auto;
	 justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
	}
	
}	


/*when browser goes below this width*/
@media (min-width: 1025px) {
	header {
		flex-direction: row;
		justify-content: space-between;
	}
	section{
	padding-top:90px;
	
	
	flex-direction:row;
	flex-wrap: wrap;
	height:auto;
	 justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
	}

}


/*sections*/

section{

	display: block;

	perspective:800px;
	padding-bottom:31px;
}


/*articles*/

article:nth-child(1) {


    order: 1;
    flex: 1 0 50%;

    align-self: auto;

    }

article:nth-child(2) {


    order: 2;
    flex: 1 0 50%;
    align-self: auto;

    }

article:nth-child(3) {

    order: 3;
    flex: 0 1 50%;
    align-self: auto;
	perspective:800px;	
    }
  
article:nth-child(4) {

    order: 4;
    flex: 0 1 50%;
    align-self: auto;

    }  
 
article:nth-child(5) {

    order: 5;
    flex: 0 2 50%;
    align-self: auto;

    }
	


	
/*3d transforms */
		
	
#container_2 {
  position: relative;
	width: auto;
	height:40%;

	padding-top: 0em;
	padding-bottom: 0em;
	border: 1px solid #989898;
	background-color: #56C5FF;
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);
	border-radius: 5px;
	text-align:center;

}

#about_card {
	width: 100%;
	height:100%;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
    background-image:url("images/IT.jpg");	

}



#container_2:hover #about_card  {
  transform: rotateY(180deg);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);



	
}
.face {
	position: absolute;
	width: 100%;
	height:auto;
	backface-visibility: hidden;
	color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.face.front {
	font-size: 3em;	
	
	
}

.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding-left: 80px;
  color: white;
  	max-width:100%;
	border-radius: 5px;
	font-size: 2em;	

  }	
	
#skills_card {
	width: 100%;
	height:100%;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
    background-image:url("images/skills.jpg");	
	background-size: 50%;
	


}


#container_2:hover #skills_card  {
  transform: rotateY(-180deg);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);


	
	
}
	
#portfolio_card {
	width: 100%;
	height:100%;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
    background-image:url("images/portfolio.jpg");	
	background-size:50%;


}

#container_2:hover #portfolio_card  {
  transform: rotateY(180deg);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);	

}	
	
#interests_card {
	width: 100%;
	height:100%;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
    background-image:url("images/interests.jpg");
	background-size:50%;

}

#container_2:hover #interests_card  {
  transform: rotateY(-180deg);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);	
}	
	

#contact_card {
	width: 100%;
	height:100%;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
    background-image:url("images/contact.jpg");	
	background-size:50%

}

#container_2:hover #contact_card  {
  transform: rotateY(180deg);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,1);	
}	
	

	
	
	
	
 /*footer preferences*/
    
.footer-nav a{
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;

} 

.footer-nav {
		display:flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		margin: 0 auto;
		
}
		
footer {

	position: fixed;
	bottom:0;
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #989898;
	background-color: #56C5FF;
	border-radius: 5px;
	display:flex;
	flex-direction:row;
	width: 100%;
}

.footer_icons{
	color:white;
	font-size: .53em;	
}

/* color when user hovers over footer navigation*/
.footer-nav a:hover {
	color: #718daa;
}



/* Modal*/
































